body
{   
    width: 97%;
    min-width: 360px;
    margin: auto;
    margin-bottom: 5%;
    background-color:#E2F6CA;
}
  
h1
{
    margin: 0;
    padding: 0;
    font-size: 6rem;
    text-align: center;
    font-family: 'Kalam', cursive;
}

.result
{   margin : 0;
    padding: 0.5rem;
    font-size: 3rem;
    text-align: center;
    color: #F6FA70;
    font-family:  'Edu SA Beginner', cursive;
    background-color: #00DFA2 ;
}
.headingDice
{
    height: 5rem;
}

.grid-container
{   /*border: 1px solid blue;*/
    display: grid;
    gap : 1rem;
    grid-template : 1fr / 1fr 1fr;
}

.flex-container
{   /*border: 1px solid green;*/
    display: flex;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
}
.playerNo
{
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.diceImgBox
{
    /*border: 1px dashed red;*/
    width: 300px; height: 300px;
    text-align: center;
  
}

.reload
{ 
    display: flex;
    grid-column: span 2;
    text-align: center;
    margin-top: 1.5rem;
    justify-content: center;
   
}

.Button
{
    background-color:cornflowerblue;
    padding:2%;
    margin: 1rem 0.5rem;
    color: antiquewhite;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0;
    border-radius: 5%;
    
}

@media (max-width : 480px) {
   
h1 {
    
    margin: 0 0 5px 0;
    font-size: 3rem;
    text-align: center;
    
    }
#heading
    {  
        display: flex;
        justify-content: center;
      
    }

.result {   
    margin : 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    }    

.headingDice {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
     }

     
.diceImgBox
{
    /*border: 1px dashed red;*/
    width: 220px; height: 220px;
    text-align: center;
    margin: 0;
  
}

.playerNo
{
    margin : 1rem auto ;
}
.diceImgBox > img {
        width: 150px;
     }



.reload{
    margin: 0;
    height : 3.5rem;
    padding: 2%;
}

.Button
{
    background-color:cornflowerblue;
    height: 3rem;  width: 4rem;
    padding:0 2%;
    margin: 0 1%;
    color: antiquewhite;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0;
    border-radius: 20%;
}


}
