body
{   
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin: auto;
    margin-bottom: 5%;
    background-color:#E2F6CA;
}

h1
{
    margin: 0;
    padding: 0;
    font-size: 6rem;
    text-align: center;
    font-family: 'Kalam', cursive;
}

.result
{   display: block;
    margin : 0;
    padding: 0.5rem;
    font-size: 3rem;
    text-align: center;
    color: #F6FA70;
    font-family:  'Edu SA Beginner', cursive;
    background-color: #00DFA2 ;
    width: 100%;
}
.headingDice
{
    height: 5rem;
}

.grid-container
{   /*border: 1px solid blue;*/
    display: grid;
    gap : 1rem;
    grid-template : 1fr / 1fr 1fr;
    width: 100%;
}

.flex-container
{   /*border: 1px solid green;*/
    display: flex;
    /*height: 100vh;*/
    justify-content: center;
    align-items: center;
}

.playerNo
{
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.diceImgBox
{
    /*border: 1px dashed red;*/
    width: 300px; height: 300px;
    text-align: center;
  
}

.reload
{ 
    display: flex;
    grid-column: span 2;
    text-align: center;
    margin-top: 1.5rem;
    justify-content: center;
   
}

.Button
{
    background-color:cornflowerblue;
    padding:2%;
    margin: 1rem 0.5rem;
    color: antiquewhite;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0;
    border-radius: 5%;
    
}

@media (max-width : 480px) {
   
h1 {
    
    margin: 0 0 5px 0;
    font-size: 3rem;
    text-align: center;
    
    }
#heading
    {  
        display: flex;
        justify-content: center;
      
    }

.result {   
    margin : 0.5rem;
    padding: 1rem;
    font-size: 1.5rem;
    }    

.grid-container
{
    
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}

.headingDice {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
     }

     .resEmoji
     {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin: 1rem;
     }
     
.diceImgBox
{
    /*border: 1px dashed red;*/
    width: 150px; height: 220px;
    margin: 0;
    margin-bottom: 1rem;
 
}

#dice1
{
    text-align: right;
    padding-right: 1rem;
}


#dice2
{
    text-align: left;
    padding-left: 1rem;
}
.playerNo
{ text-align: center !important;

    margin: 1rem auto 0.5rem;
 
    font-size: 1.5rem;
  
}
.diceImgBox > img 
{
    width: 150px;
}

.reload{
    margin: 0;
    height : 3.5rem;
    padding: 2%;
}

.Button
{
    background-color:cornflowerblue;
    height: 3rem;  width: 4rem;
    padding:0 2%;
    margin: 0 4%;
    color: antiquewhite;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0;
    border-radius: 20%;
}


}
